@font-face {
                                        font-family: ProximaNova;
                                        font-display: swap;
                                        src: url("../fonts/ProximaNova-Bold.woff2") format ("woff2"), url("../fonts/ProximaNova-Bold.ttf") format("ttf");
                                        font-weight: 700;
                                        font-style: normal;
                                    }
@font-face {
                                        font-family: ProximaNova;
                                        font-display: swap;
                                        src: url("../fonts/ProximaNova-Regular.woff2") format ("woff2"), url("../fonts/ProximaNova-Regular.ttf") format("ttf");
                                        font-weight: 400;
                                        font-style: normal;
                                    }
@font-face {
                                        font-family: ProximaNova;
                                        font-display: swap;
                                        src: url("../fonts/ProximaNova-Thin.woff2") format ("woff2"), url("../fonts/ProximaNova-Thin.ttf") format("ttf");
                                        font-weight: 100;
                                        font-style: normal;
                                    }
