
@media (max-width: 1024px){
  .swiper{
    display: none;
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .container{
    &-header{
      box-sizing: border-box;
      max-width: 100%;
      .header{
        padding: 28px;
        &-logo{
          width: 39px;
        }
        &-links{
          position: absolute;
          width: 100vw;
          height: 100vh;
          top: 0;
          right: -100vw;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          &__btn{
            button{
              background: transparent;
              outline: none;
              border: none;
            }
            background: transparent;
          }
        }
      }
    }
    &-home{
      .home{
        padding: 28px;
        box-sizing: border-box;
        &-swiper{
          margin: 0;
          margin-top: 55px;
          width: 100%;
          max-width: 100%;
          flex-direction: column;
          > *{
            width: 100%;
          }
          .logo.logo-mob{
            width:100%;
            margin: 0;
            display: flex;
            justify-content: center;
            img{
              width: 99.25px;
            }
            margin-bottom: 65px
          }
          .item {
            &.item-mob{
              width: 100%;
            }
            &-title{
              font-size: 32px;
              line-height: 40px;
              margin-bottom: 16px;
              max-width: 220px;
            }
            &-text{
              margin-bottom: 28px;
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
    }
    &-numbers{
      margin: 90px auto 22px auto;
      box-sizing: border-box;
      padding: 0 16px;
      .numbers{
        flex-direction: column;
        &-item{
          margin-bottom: 68px;
        }
      }
    }
    &-services{
      .services{
        width: 100%;
        max-width: 100%;
        padding: 48px 28px;
        box-sizing: border-box;
        &-title{
          font-weight: 700;
          font-size: 34px;
          line-height: 72px;
          color: #7050E5;
        }
        &-body{
          grid-template-columns: auto;
          row-gap: 60px;
        }
      }
    }
    &-product{
      .product{
        padding: 100px 28px 97px;
        &-video{
          display: none;
          &--mob{
            display: block;
            margin: 26px auto 40px auto;
          }
        }
        &-about{
          &__btn{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
              margin: 0 auto;
            }
          }
        }
      }
    }
    &-contactus{
      .contactus{
        width: 100%;
        padding: 40px 36px 40px 28px;
        flex-direction: column;
        > div{
          width: 100%;
        }
        &-q{
          &__title{
            font-size: 34px;
            line-height: 40px;
            margin-bottom: 48px;
          }
        }
        &-form{
          &__title{
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.02666em;
            margin-bottom: 28px;
          }
        }
      }
    }
    &-about{
      .about{
        padding: 60px 38px;
        flex-direction: column;
        &-twitter{
          margin-bottom: 60px;
        }
        &-other{
          margin: 0 auto;
          width: 100%;
          .sitemap{
            grid-template-columns: auto auto;
            gap: 50px 48px;
            &-column{
              &:last-child{
                grid-column-start: 1;
                grid-column-end: 3;
              }
            }
          }
          &__img{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 80px 0;
            img{
              width: 100%;
              max-width: 88px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  .footer{
    span{
      font-size: 8px;
      line-height: 20px;
    }
  }
}