$font-color-basic: #FFFFFF;
$font-color-colored: #7050E5;

body, html {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  color: $font-color-basic;
  scroll-behavior: smooth;
  font-family: ProximaNova, sans-serif;
}
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets{
  right: 0;
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
  width: 25px;
  height: 25px;
  background: transparent;
  box-shadow: unset;
  opacity: 1;
  &:before{
    content:url("@img/hex.svg");
    width: 25px;
    height: 25px;
  }
  &.swiper-pagination-bullet-active {
    &:before{
      content:url("@img/coloredHex.svg");
    }
  }
}

.swiper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 100%;

  &-wrapper{
    width: 100%;
    max-width: 552px;
  }
  &-slide{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $font-color-basic;
    .item{
      width: 100%;
      height: max-content;
      &-title{
        font-weight: 700;
        font-size: 55px;
        line-height: 55px;
        white-space: nowrap;
      }
      &-text{
        width: 100%;
        margin: 12px 0 44px 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}

.btn{
  display: flex;
  padding: 4px 41px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  background-color: #FF8B00;
  margin: 0 auto 0 0;
  width: max-content;
  font-weight: 700;
  font-size: 14px;
  line-height: 45px;
  color: $font-color-basic;
  border: 0;
  border-radius: 4px;
  &:hover{
    transition: 0.8s;
    background-color: #FFFFFF;
    color: #FF8B00;
    cursor: pointer;
  }
  &--svg{
    background: transparent;
    margin-top: 19px;
    width: 100%;
    padding: 0;

    img{
      width: 100%;
    }
    &:hover{
      cursor: pointer;
      background: transparent;
    }

  }
}

.form{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px 28px;
  .grid-row-full{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    > *{
      width: 100%;
    }
    &__title{
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      color: #FFFFFF;
      text-align: left;
      margin-bottom: 8px;
    }
    &__input,&__textarea{
      box-sizing: border-box;
      padding: 9px 13px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      color: #000000;
      outline: none;
      border-radius: 8px;
      background: #FFFFFF;
      border: 1px solid #D2D6DA;
      &:focus{
        border: 1px solid #292929;
      }
    }
    &__textarea{
      height: 96px;
      resize: none;
    }
  }

}

.container{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  &-header{
    width: 100%;
    z-index: 2;
    margin: 0 auto;
    max-width: calc(100% - 224px - 224px);
    .header{
      width: 100%;
      padding: 32px 0 0 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-logo{
        width: 100%;
        max-width: 78px;
        img{
          width: 100%;
          pointer-events: none;
        }
      }
      &-links{
        width: max-content;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        &__btn{
          display: none;
        }
        &__item{
          width: max-content;
          margin: 0 14px;
          padding: 0 4px 8px 4px;
          box-sizing: border-box;
          color: #FFFFFF;
          text-decoration: none;
          outline: none;
          transition: 0.5s;
          font-weight: bold;
          font-size: 15px;
          line-height: 18px;
          border-bottom: 3px solid transparent;
          &:hover{
            color: #FF8B00;
            transition: 0.5s;
          }
          &:nth-child(1){
            margin-left: 0;
            border-bottom: 3px solid #FF8B00;
          }
        }
      }
    }
  }
  &-home{
    width: 100%;
    z-index: 2;
    min-height: 100vh;
    background-image: url('@img/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center top;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .home{
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      height: max-content;
      flex-grow: 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      &-swiper{
        width: 100%;
        margin-left: 306px;
        max-width: calc(100% - 306px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo{
          flex-grow: 3;
          margin-left: 220px;
          &-mob{
            display: none;
          }
        }
        .item.item--mob{
          display:none;
        }
      }
      &-footer{
        width: 100%;
        display: flex;
        flex-grow: 3;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        padding-bottom: 50px;
        box-sizing: border-box;
        &__text{
          font-weight: 700;
          font-size: 15px;
          line-height: 20px;
        }
      }

    }
  }
  &-numbers{
    width: 100%;
    margin: 131px auto;
    max-width: 900px;
    .numbers{
      padding: 0 16px;
      box-sizing: border-box;
      color: $font-color-colored;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &-item{
        margin: 0 46px;
        width: max-content;
        &__title{
          font-weight: 700;
          font-size: 60px;
          line-height: 68px;
          margin-bottom: 14px;
          width: 100%;
          text-align: center;
        }
        &__text{font-weight: 700;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  &-services{
    width: 100%;
    box-sizing: border-box;
    background: #F8F8F8;
    .services{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 120px 16px;
      box-sizing: border-box;
      max-width: calc( 100% - 297px - 297px);
      margin: 0 auto;
      &-title{
        width: 100%;
        text-align: right;
        position: relative;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        color: #7050E5;
        box-sizing: border-box;
        padding: 25px 65px 0 0;
        margin-bottom: 71px;
        &:after,&:before{
          content:'';
          position: absolute;
          top: 0;
          right: 0;
          background-color: #FF8B00;
        }
        &:after{
          width: 46px;
          height: 12px;
        }
        &:before{
          width: 12px;
          height: 46px;
        }
      }
      &-body{
        width: 100%;
        display: grid;;
        grid-template-columns: auto auto auto;
        column-gap: 100px;
        row-gap: 70px;
      }
      &-item{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &__logo{
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 100%;
          }
        }
        &__title{
          width: 100%;
          text-align: left;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          color: #7050E5;
          margin: 28px 0 8px;
        }
        &__text{
          width: 100%;
          text-align: left;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          letter-spacing: -0.008em;
          color: #878787;
        }
      }
    }
  }
  &-product{
    width: 100%;
    .product{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      padding: 114px 137px 97px 160px;
      box-sizing: border-box;
      width: 100%;
      &-video{
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-left: 124px;
        max-width: 724px;
        flex-grow: 3;
        &--mob{
          display: none;
        }
        &:before {
          content: '';
          display: block;
          padding-top:  calc( 9 / 16 ) * 100%;
        }
        > iframe{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: inherit;
        }

      }
      &-about{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 455px;
        &__title{
          font-weight: 700;
          font-size: 40px;
          line-height: 55px;
          color: #7050E5;
        }
        &__text{
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          letter-spacing: -0.02em;
          color: #878787;
          margin: 15px 0 38px;
        }
      }
    }
  }
  &-contactus{
    width: 100%;
    background: #232323;
    position:relative;
    overflow: hidden;
    color: $font-color-basic;
    .contactus{
      display: flex;
      box-sizing: border-box;
      padding: 128px 169px 120px 200px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      z-index: 10;
      > div{
        width: 50%;
      }
      &-q{
        font-weight: 700;
        font-size: 55px;
        line-height: 55px;
        color: #FFFFFF;
      }
      &-form{
        &__title{
          width: 100%;
          font-weight: 700;
          font-size: 28px;
          line-height: 41px;
          letter-spacing: -0.02666em;
          color: #FFFFFF;
          text-align: left;
          margin-bottom: 28px;
        }
      }
    }
    &:before{
      position: absolute;
      content:"";
      left: 6.78%;
      right: 46.54%;
      top: 84.71%;
      bottom: -91.81%;
      background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
      opacity: 0.33;
      filter: blur(250px);
      border-radius: 373.431px;
      transform: rotate(-122.79deg);
      z-index: 1;
    }
    &:after{
      position: absolute;
      left: 58.57%;
      content:"";
      right: 11.92%;
      top: 55.02%;
      bottom: -22.72%;
      background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
      opacity: 0.3;
      filter: blur(250px);
      border-radius: 236.048px;
      transform: rotate(5.78deg);
      z-index: 1;
    }
  }
  &-about{
    width: 100%;
    margin-top: 97px;
    background: #363636;
    .about{
      width: 100%;
      padding: 56px 223px 49px 224px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      &-twitter{
        width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        min-width: 299px;
        max-width: 299px;
        .twitter{
          &-header{
            width: 100%;
            display: flex;
            flex-direction: row;
            &__logo{
              background: #5634D1;
              box-sizing: border-box;
              padding: 10px;
              min-width: 59px;
              height: 60px;
              span{
                width: 100%;
                height: 100%;
                border: 1.5px solid #FFFFFF;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  width: 100%;
                  max-width: 16.87px;
                  pointer-events: none;
                }
              }
            }
            &__text{
              width: 100%;
              background: #7050E5;
              padding: 11px 16px;
              box-sizing: border-box;
              h5{
                margin: 0 0 2px 0;
                font-weight: 600;
                font-size: 22px;
                line-height: 18px;
                letter-spacing: 0.008em;
                text-transform: lowercase;
                color: #FFFFFF;
              }
              p{
                margin: 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -0.008em;
                color: #FFFFFF;
              }
            }
          }
          &-body{
            width: 100%;
            box-sizing: border-box;
            padding: 20px 31px;
            display: grid;
            grid-template-columns: auto;
            row-gap: 16px;
            background: #FFFFFF;
            .item{
              width: 100%;
              &-title{
                display: inline-block;
                white-space: pre-wrap;
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: -0.02em;
                color: #999999;
                margin-bottom: 6px;
                a{
                  font-weight: 400;
                  font-size: 13px;
                  line-height: 18px;
                  color: #7050E5;
                  display: inline-block;
                  margin-top: 2px;
                  text-decoration: none;
                }
              }
              &-time{
                font-weight: 400;
                font-size: 11px;
                line-height: 18px;
                letter-spacing: -0.01em;
                color: #555555;
              }
            }
          }
        }
      }
      &-other{
        flex-grow: 3;
        margin-left: 120px;
        &__img{
          position: absolute;
          bottom: 55px;
          right: 32px;

        }
        .sitemap{
          display: grid;
          width: 100%;
          grid-template-columns: auto auto auto;
          column-gap: 132px;
          &-column{
            width: 100%;
            &__body{
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              a{
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 8px;
                text-decoration: none;
                transition: 0.5s;
                &:last-child{
                  margin-bottom: 0;
                }
                &:hover{
                  color: #FF8B00;
                  transition: 0.5s;
                }

              }
            }
            &__title{
              width: 100%;
              display: inline-flex;
              justify-content: flex-start;
              align-items: center;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              text-transform: uppercase;
              color: #FF8B00;
              margin-bottom: 20px;
              &:before{
                content:url("@img/coloredHex.svg");
                width: 17.5px;
                height: 20px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}

.footer{
  background: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  span{
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    &:after{
      content:url("@img/smallHex.svg");
      margin: auto 2px;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}
